<div class="home mt-4">
	<div class="container-fluid">

		<div class="card m-5">
			<div class="card-header">
				<h3 class="mb-0">
					<i class="bx bx-car"></i> Podział wypadków ze względu na pojazd w roku 2018
				</h3>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<app-data-chart
							[data]="vehicleData"
							[elementId]="'vehicleData'"
						></app-data-chart>
						<app-data-table [data]="vehicleData"></app-data-table>
					</div>
					<div class="col-md-6">
						<div class="card">
							<div class="card-header">
								<h5 class="mb-0">Ilość kolizji</h5>
							</div>
							<div class="card-body">
								<p class="mb-0">
									Statystycznie
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card m-5">
			<div class="card-header">
				<h3 class="mb-0">
					<i class="bx bx-map"></i> Podział wypadków ze względu na miejsce w roku 2018
				</h3>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">

						<app-data-chart
							[data]="placeData"
							[elementId]="'placeData'"
						></app-data-chart>
						<app-data-table [data]="placeData"></app-data-table>
					</div>
					<div class="col-md-6">

					</div>
				</div>
			</div>
		</div>


		<div class="card m-5">
			<div class="card-header">
				<h3 class="mb-0">
					<i class="bx bx-user-voice"></i> Podział wypadków ze względu na zachowanie w roku 2018
				</h3>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<app-data-chart
							[data]="behaviorData"
							[elementId]="'behaviorData'"
						></app-data-chart>
						<app-data-table [data]="behaviorData"></app-data-table>
					</div>
					<div class="col-md-6">

					</div>
				</div>
			</div>
		</div>

	</div>
</div>